<%- include('layout_head') -%>
<div style="margin: 0px 40px;">
  <h1>Support</h1>
  <div style="width: 400px">
  <p>Username: <%= username %></p>
  <p>Email: <%= email %></p>
  <p>Issue: <%= issue %></p>
  <hr>
  <% if (success == true) { %>
    <p style="color: green">Issue sent.</p>
    <p style="color: green">A copy of your support ticket has been emailed to you.</p>
  <% } else { %>
    <p style="color: red">Issue failed to send.</p>
  <% } %>
  </div>
</div>
<%- include('layout_foot') -%>
